.LogoCard {
    display: flex;
    flex-direction: column;
    text-align: center;
    /*border: 2px solid #E27E3A;*/
    border: 2px solid lightgray;
    border-radius: 30px;
    margin: 3rem;
    background-color: white;
}

.logo {
    padding: 2rem;
}

.title {
    max-width: min(500px, 100%);
    align-self: center;
    font-size: 1.5rem;
    color: #0776B5;
}

.message {
    max-width: min(500px, 100%);
    align-self: center;
    font-size: 1.25rem;
    color: #0776B5;
}

.children {
    padding: 2rem;
}